<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEOYOUNG HOMEPAGE</title>
    <script src="https://kit.fontawesome.com/c47106c6a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <div class="inner">
            <h1><a href="#">SYCHOI</a></h1>

            <ul id="gnb">
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT ME</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">SERVIES</a></li>
            </ul>

            <ul class="util">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">English</a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Q</a></li>
            </ul>
        </div>
    </header>

    <figure>
        <img src="img/IMG_3746.JPG"></img>
        <div class="inner">
            <h1>2023204025<br> 최서영</h1>
            <p>서영이의 홈페이지에 오신 것을 환영합니다 :0</p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </figure>

    <div class="main-container">
        <section class="left-section">
            <div class="inner">
                <div class="wrap">
                    <article>
                        <div class="pic">
                            <img src="img/IMG_3589.JPG" alt="프로필 사진">
                        </div>
                        <p>NAME | 최서영<br>BITRH | 2003.09.22<br>HOME | Seoul</p>
                    </article>
                    <article>
                        <h2>학력</h2>
                        <p>당현초등학교 졸업<br>영훈국제중학교 졸업<br>대진여자고등학교 졸업<br>광운대학교 재학</p>
                    </article>
                    <article>
                        <h2>언어</h2>
                        <p>English<br>◾ ◾ ◾ ◾<br>Chinese<br>◾ ◾</p>
                    </article>
                    <article>
                        <h2>프로그래밍</h2>
                        <p>Java Script<br>◾ ◾<br>Java<br>◾ ◾ ◾<br>Python<br>◾ ◾ ◾</p>
                    </article>
                </div>
            </div>
        </section>
        <section class="right-section">
            <div class="inner">
                <div class="sectionn">
                    <h1>최근 소식</h1>
                    <div class="wrap">
                        <article>
                            <div class="pic">
                                <img src="img/IMG_4386.JPG" alt="밴드 공연">
                            </div>
                            <h2>밴드 공연</h2>
                            <p>2024년 5월 18일에 광운대학교 중앙 밴드 동아리 '피버스'에서 봄 정기공연을 진행하였습니다.</p>
                        </article>
                        <article>
                            <div class="pic">
                                <img src="img/IMG_4709.JPG" alt="광운대 축제">
                            </div>
                            <h2>광운대 축제</h2>
                            <p>2024년 5월 22일 ~ 24일에 광운대학교에서 축제를 진행하였습니다.</p>
                        </article>
                        <article>
                            <div class="pic">
                                <img src="img/IMG_4710.JPG" alt="과제">
                            </div>
                            <h2>과제</h2>
                            <p>기말고사 전 굉장히 많은 과제를 하는 중 입니다.</p>
                        </article>
                        <article>
                            <div class="pic">
                                <img src="img/IMG_3589.JPG" alt="여가시간">
                            </div>
                            <h2>여가시간</h2>
                            <p>과제와 기말고사 공부에 지쳐 잠시 여가시간을 가졌습니다.</p>
                        </article>
                    </div>
                </div>
                <div class="sectionn">
                    <h1>관심사</h1>
                    <div class="wrap">
                        <article>
                            <div class="pic">
                                <img src="img/스크린샷 2024-06-03 오후 9.31.31.jpg" alt="코딩">
                            </div>
                            <h2>코딩</h2>
                            <p>전공인 만큼 '코딩'에 관심이 있습니다.</p>
                        </article>
                        <article>
                            <div class="pic">
                                <img src="img/IMG_4711.JPG" alt="밴드">
                            </div>
                            <h2>밴드</h2>
                            <p>여러 악기들 중에서 '베이스'에 관심이 있습니다.</p>
                        </article>
                        <article>
                            <div class="pic">
                                <img src="img/IMG_7391.JPG" alt="여행">
                            </div>
                            <h2>여행</h2>
                            <p>다양한 지역으로 '여행'가는 것에 관심이 있습니다.</p>
                  
                        </article>
                    </div>
                </div>
                <div class="sectionn">
                    <h1>방명록</h1>
                    <div class="wrap">
                        <div id="guestbook">
                            <form id="guestbook-form">
                                <input type="text" id="author" placeholder="작성자" required>
                                <textarea id="message" name="message" placeholder="내용" required></textarea>
                                <button type="submit">작성</button>
                            </form>
                            <div id="entries"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <footer>
        <div class="inner">
            <div class="upper">
                <h1>최서영</h1>
                <ul>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Family site</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="lower">
                <address>
                    서울특별시 노원구 상계동 <br>
                    우리집 내방 | Tel : 010-1234-5678
                </address>
                <p>2024 Infoconv &copy; 2024 SYCHOI. All rights reserved.</p>
            </div>
        </div>
    </footer>

</body>
</html>
